HealthCareService/Service References/HealthService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ShiPian_Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShiPian_LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShiPian_LoginResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hall_Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hall_LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Hall_LoginResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Richeng">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Togeter_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Session_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Togeter_hall" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="is_upload" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="realName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_RichengResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_RichengResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_TableInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_TableInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_TableInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteNonQueryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Togeter_hall">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Togeter_hallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Togeter_hallResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Togeter_date">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Togeter_dateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Togeter_dateResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelProgramResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Richeng">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Togeter_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Session_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Togeter_hall" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time_slot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="realName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="is_upload" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="is_upload_en" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filedir" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="have_video" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="org" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AuthorizeState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile_phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_RichengResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_RichengResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Richeng">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Togeter_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Session_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Togeter_hall" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time_slot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="realName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_RichengResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_RichengResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>